/* Footer Styling */
.mainFoot {
    position: absolute;
    width: 1440px;
    height: 565px;
    left: 0px;
}

.mainFootUl {
 list-style: none;
}

.mainFootUl a {
  position: absolute;
  left: 3.47%;
  right: 70.53%;
  top: 17.7%;
  bottom: 58.32%;
  font: normal 600 15px/110.19% Nunito;
  letter-spacing: 1.25px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #273043;
}

#aa1 {
  position: absolute;
  left: 3.47%;
  right: 86.11%;
  top: 17.7%;
  bottom: 79.29%;
}
#aa2 {
  position: absolute;
  left: 3.47%;
  right: 85.49%;
  top: 24.69%;
  bottom: 72.3%;
}
#aa3 {
  position: absolute;
  left: 3.47%;
  right: 81.53%;
  top: 31.68%;
  bottom: 65.31%;
}
#aa4 {
  position: absolute;
  left: 3.47%;
  right: 94.24%;
  top: 38.67%;
  bottom: 58.32%;
}

.Foottxt {
  position: absolute;
  left: 29.03%;
  right: 45.49%;
  top: 16.81%;
  bottom: 65.31%;
  text-decoration: none;
  font: normal normal 15px/24px Nunito;
  letter-spacing: 0.25px;
  color: #273043;
}

.Foottxt1 {
  position: absolute;
  left: 29.03%;
  right: 52.78%;
  top: 37.35%;
  bottom: 59.65%;
  font: normal 600 15px/110.19% Nunito;
  letter-spacing: 1.25px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #273043;
}

.footImage {
  position: absolute;
  left: 65.07%;
  right: 20.49%;
  top: 17.7%;
  bottom: 45.49%;
}

.Foottxt2 {
  position: absolute;
  left: 84.33%;
  right: 3.31%;
  top: 25.97%;
  bottom: 51.15%;
  font: normal normal 15px/24px Nunito;
  letter-spacing: 0.25px;
  color: #273043;
  text-decoration: none;
}

.Foottxt3 {
  position: absolute;
  left: 84.33%;
  right: 3.38%;
  top: 51.5%;
  bottom: 45.49%;
  font: normal 600 15px/110.19% Nunito;
  letter-spacing: 1.25px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #273043;
}

.twitter {
  position: absolute;
  left: 40.56%;
  right: 57.92%;
  top: 72.21%;
  bottom: 23.89%;
}
.facebook {
  position: absolute;
  left: 44.03%;
  right: 54.44%;
  top: 72.21%;
  bottom: 23.89%;
}
.linkedin {
  position: absolute;
  left: 47.5%;
  right: 50.97%;
  top: 72.21%;
  bottom: 23.89%;
}
.instagram {
  position: absolute;
  left: 50.97%;
  right: 47.5%;
  top: 72.21%;
  bottom: 23.89%;
}
.youtube {
  position: absolute;
  left: 54.44%;
  right: 44.03%;
  top: 72.21%;
  bottom: 23.89%;

}
.vimeo {
  position: absolute;
  left: 57.92%;
  right: 40.56%;
  top: 72.21%;
  bottom: 23.89%;
}
.copyright {
  position: absolute;
  left: 41.04%;
  right: 58.06%;
  top: 80.8%;
  bottom: 17.7%;
}

.Foottxt4 {
  position: absolute;
  left: 42.36%;
  right: 50.53%;
  top: 80.35%;
  bottom: 17.7%;
  font: normal normal 10px/110.19% Nunito;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #273043;
}

.Foottxt5 {
  position: absolute;
  left: 50.14%;
  right: 40.11%;
  top: 80.18%;
  bottom: 17.88%;
  font: normal normal 10px/110.19% Nunito;
  display: flex;
  align-items: center;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #273043;
}

/* Mobile Styles */
@media only screen and (min-width:320px) and (max-width:425px) {
  .mainFoot {
    position: absolute;
    width: 100%;
    height: 885px;
    left: 0px;
  }
  
  .mainFootUl {
     list-style: none;
  }
  
  .mainFootUl a {
      position: absolute;
      left: 21.33%;
      top: 50px;
      font: normal 600 15px/110.19% Nunito;
      letter-spacing: 1.25px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #273043;
  }
  
  #aa1 {
      position: absolute;
      left: 30.13%;
      width: 40%;
      height: 17px;
      top: 50px;
  }

  #aa2 {
      position: absolute;
      left: 28.8%;
      width: 42.4%;
      height: 17px;
      top: 89.5px;
  }

  #aa3 {
      position: absolute;
      left: 21.33%;
      width: 57.6%;
      height: 17px;
      top: 129px;
  }

  #aa4 {
      position: absolute;
      left: 45.6%;
      width: 8.8%;
      height: 17px;
      top: 168.5px;    
  }
  
  .Foottxt {
      position: absolute;
      width: 72.8%;
      height: 67px;
      left: 13.87%;
      top: 598px;
      text-decoration: none;
      text-align: center;
      font: normal normal 15px/24px Nunito;
      letter-spacing: 0.25px;
      color: #273043;
  }
  
  .Foottxt1 {
      position: absolute;
      width: 32%;
      height: 17px;
      left: 34.4%;
      top: 714px;
      font: normal 600 15px/110.19% Nunito;
      letter-spacing: 1.25px;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #273043;
  }
  
  .footImage {
      position: absolute;
      width: 42.4%;
      height: 159px;
      left: 29.07%;
      top: 235px;
  }
  
  .Foottxt2 {
      position: absolute;
      width: 76.27%;
      height: 41px;
      left: 12%;
      top: 447px;
      font: normal normal 15px/24px Nunito;
      letter-spacing: 0.25px;
      color: #273043;
      text-decoration: none;
      text-align: center;
  }
  
  .Foottxt3 {
      position: absolute;
      width: 50.4%;
      height: 17px;
      left: 25.07%;
      top: 531px;
      font: normal 600 15px/110.19% Nunito;
      letter-spacing: 1.25px;
      text-align: center;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #273043;
  }
  
  .twitter {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 13.87;
      top: 781px;
  }
  .facebook {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 27.2%;
      top: 781px;
  }
  .linkedin {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 40.53%;
      top: 781px;
  }
  .instagram {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 53.87%;
      top: 781px;
  }
  .youtube {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 67.2%;
      top: 781px;
  }
  .vimeo {
      position: absolute;
      width: 5.87%;
      height: 22px;
      left: 80.53%;
      top: 781px;
  }
  .copyright {
      position: absolute;
      width: 3.47%;
      height: 13px;
      left: 15.73%;
      top: 835px;
  }
  
  .Foottxt4 {
      position: absolute;
      width: 24%;
      height: 11px;
      left: 20.8%;
      top: 827px;
      font: normal normal 10px/110.19% Nunito;
      display: flex;
      align-items: center;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #273043;
  }
  
  .Foottxt5 {
      position: absolute;
      width: 34.13%;
      height: 11px;
      left: 50.67%;
      top: 826px;
      font: normal normal 10px/110.19% Nunito;
      display: flex;
      align-items: center;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      color: #273043;
  } 
}